<style type="text/css">
	
	.creacion-competencia{
		height: 28em;
		overflow-y: auto;
		overflow-x: hidden;
	}



</style>


<div class="container">
	<div class="col-md-10">
	<!--<% i = 1 %>
	<%= $ids_etapas %>
	<% $fixture.each do |fecha| %>
		<p>FECHA <%= i %></p>
		<% fecha.each do |encuentro| %>
			<p><%= encuentro[0] %> vs <%= encuentro[1]%></p>
		<% end %>	
		<% i += 1 %>
	<% end %>-->

<div class="creacion-compentencia" role="tabpanel">
		<ul class="nav nav-tabs" role="tablist">
			
			<% i = 1 %>
			<% $fixture.each do |fecha| %>
			
			<% if i == 1%>
				<li role="presentation"><a href="#Fecha<%= i %>" aria-controls="Fecha<%= i %>" role="tab" data-toggle="tab" id="fecha-1">Fecha <%= i %></a></li>
			<% else %>
				<li role="presentation" ><a href="#Fecha<%= i %>" aria-controls="Fecha<%= i %>" role="tab" data-toggle="tab">Fecha <%= i %></a></li>
			<% end %>
					<% i += 1 %>
			<% end %>
			
		</ul> 
		<div class="tab-content">
			<% i = 1 %>
			<% $fixture.each do |fecha| %>
			<div role="tabpanel" class="tab-pane fade in active" id="Fecha<%= i %>">
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>Local</th>
							<th>Visita</th>
							<th>Fecha</th>
							<th>Hora</th>
							<th>Recinto deportivo</th>
						</tr>
					</thead>
					<tbody>
						<% fecha.each do |encuentro| %>
						<tr>
							<td><%= encuentro[0]["Nombre"] %></td>
							<td><%= encuentro[1]["Nombre"] %></td>
							<td>    
								  <%= date_select(:fecha, :fecha_inicio, :order => [:day, :month, :year], start_year: Date.today.year, end_year: Date.today.year+5) %>
							</td>
							<td>
								<%= time_field_tag(:task, nil) %>
							</td>
							<td>
								<select class="input-large form-control">>
									<% $recintos.each do |recinto| %>
								  		<option value="<%= recinto['Nombre'] %>"><%= recinto['Nombre'] %></option>
								  <% end %>
								</select>								
							</td>
						</tr>
						<% end %>

					</tbody>
				</table>
			</div>	
			<% i += 1 %>
			<% end %>		
		</div>

	</div>	


	<%# for i in(0..$fixture_grupo.length-1) %>
		<%# for j in(0..3) %>
			<!--p><b>i: <%#= i %>, j: <%#= j %></b></p>
			<%#= $fixture_grupo[j][i] %>
			<hr>
		<%# end %>
		<hr><hr><hr-->
	<%# end %>
</div>
</div>

<script type="text/javascript">
	document.getElementById('fecha-1').click();
</script>