<style type="text/css">
	
	.formulario-creacion{
		height: 28em;
		overflow-y: auto;
		overflow-x: hidden;
	}

</style>

<div class="container">
	<div class="row">
		<% if $nombre_competencia != nil && $tipo_competencia != nil && $ida_vuelta != nil && $cant_participantes != nil && $cant_grupos != nil && $fecha_inicio != nil && $fecha_fin != nil && $privacidad != nil && $participantes != nil && $jugadores != nil && $entrenadores != nil && $jueces != nil && $recintos != nil %>
		<div class="col-md-7">
			<div class="formulario-creacion panel panel-default">
				<div class="panel-heading">
					<h3>Crear Competencia - Generar Fixture - Paso 8</h3>
				</div>
				<div class="panel-body">
					<%= form_tag("/nueva_competencia/paso8") do %>
						<div class="field">
							<div><b>Cantidad total de participantes:</b> <%= $cant_participantes %></div>		
						</div>

						<div class="field">
							<p><b>Cantidad total de jugadores:</b> <%= $jugadores.length %></p>
						</div>

						<div class="field">
							<p><b>Cantidad total de entrenadores:</b> <%= $entrenadores.length%></p>
						</div>

						<div class="field">
							<p><b>Cantidad total de jueces:</b> <%= $jueces.length%></p>
						</div>

						<div class="field">
							<p><b>Cantidad total de recintos deportivos:</b> <%= $recintos.length%></p>
						</div>

						<% if disable_part %>
							<%= submit_tag("Generar fixture", data: { confirm: "La cantidad de participantes que usted indicó en un principio no coinciden con los obtenidos desde el documento cargado en el sistema.\n\n¿Desea continuar de todas formas?\n\nSi desea continuar, se considerarán sólo los datos obtenidos desde el archivo." }) %>
						<% else %>
							<%= submit_tag("Generar fixture") %>
						<% end %>
					<% end %>

				</div>
			</div>
		</div>
		<div class="col-md-5">
			<div class="formulario-creacion" role="tabpanel">
				
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#Datos" aria-controls="Datos" role="tab" data-toggle="tab">Datos</a></li>
					<li role="presentation"><a href="#participantes" aria-controls="participantes" role="tab" data-toggle="tab">Participantes</a></li>
					<li role="presentation"><a href="#jugadores" aria-controls="jugadores" role="tab" data-toggle="tab">Jugadores</a></li>
					<li role="presentation"><a href="#entrenadores" aria-controls="entrenadores" role="tab" data-toggle="tab">Entrenadores</a></li>
					<li role="presentation"><a href="#jueces" aria-controls="jueces" role="tab" data-toggle="tab">Jueces</a></li>
					<li role="presentation"><a href="#recintos" aria-controls="recintos" role="tab" data-toggle="tab">Recintos Deportivos</a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane fade in active" id="Datos">
						<table class="table table-bordered table-hover">
							<tbody>
							<tr>
								<td><b>Nombre de la competencia:</b></td>
								<td><%= $nombre_competencia %></td>
							</tr>
							<tr>
								<td><b>Tipo de competencia:</b></td>
								<td><%= $tipo_competencia.swapcase %></td>
							</tr>
							<tr>
								<td><b>¿Ida y vuelta?</b></td>
								<td><%= $ida_vuelta.swapcase %></td>
							</tr>
							<tr>
								<td><b>Cantidad de participantes:</b></td>
								<td><%= $cant_participantes %></td>
							</tr>
							<% if $tipo_competencia == "copa" %>
								<tr>
									<td><b>Cantidad de grupos:</b></td>
									<td><%= $cant_grupos %></td>
								</tr>
							<% end %>
							<tr>
								<td><b>Fecha de inicio:</b></td>
								<td><%= $fecha_inicio%></td>
							</tr>
							<tr>
								<td><b>Fecha de fin:</b></td>
								<td><%= $fecha_fin%></td>
							</tr>
							<tr>
								<td><b>Privacidad:</b></td>
								<td><%= $privacidad.swapcase %></td>
							</tr>
							<tr>
								<td><b>Árbitros por encuentro:</b></td>
								<td><%=  $cant_arbitros %></td>
							</tr>
							<tr>
								<td><b>Jugadores por plantel:</b></td>
								<td><%= $cant_jugadores %></td>
							</tr>
							<tr>
								<td><b>Jugadores titulares:</b></td>
								<td><%= $cant_titulares %></td>
							</tr>
							<tr>
								<td><b>Jugadores en banca:</b></td>
								<td><%= $cant_banca %></td>
							</tr>
						</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="participantes">
						<table class="table table-bordered table-hover">
							<thead>
								<tr>
									<th>Nombre</th>
									<th>País</th>
								</tr>
							</thead>
							<tbody>
								<% $participantes.each do |participante| %>
									<tr>
										<td><%= participante['Nombre'] %></td>
										<td><%= participante['Pais'] %></td>
									</tr>
								<% end %>						
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="jugadores">
						<table class="table table-bordered table-hover">
							<thead>
								<tr>
									<th>Nombre</th>
									<th>Apellido</th>
									<th>Institución</th>
								</tr>
							</thead>
							<tbody>
								<% $jugadores.each do |jugador| %>
									<tr>
										<td><%= jugador['Nombre'] %></td>
										<td><%= jugador['Apellido Paterno'] %></td>
										<td><%= jugador['Institucion Deportiva'] %></td>
									</tr>
								<% end %>						
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="entrenadores">
						<table class="table table-bordered table-hover">
							<thead>
								<tr>
									<th>Nombre</th>
									<th>Apellido</th>
									<th>Institución</th>
								</tr>
							</thead>
							<tbody>
								<% $entrenadores.each do |entrenador| %>
									<tr>
										<td><%= entrenador['Nombre'] %></td>
										<td><%= entrenador['Apellido Paterno'] %></td>
										<td><%= entrenador['Institucion Deportiva'] %></td>
									</tr>
								<% end %>						
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="jueces">
						<table class="table table-bordered table-hover">
							<thead>
								<tr>
									<th>Nombre</th>
									<th>Apellido</th>
								</tr>
							</thead>
							<tbody>
								<% $jueces.each do |juez| %>
									<tr>
										<td><%= juez['Nombre'] %></td>
										<td><%= juez['Apellido Paterno'] %></td>
									</tr>
								<% end %>						
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="recintos">
						<table class="table table-bordered table-hover">
							<thead>
								<tr>
									<th>Nombre</th>
									<th>Ciudad</th>
									<th>País</th>
								</tr>
							</thead>
							<tbody>
								<% $recintos.each do |recinto| %>
									<tr>
										<td><%= recinto['Nombre'] %></td>
										<td><%= recinto['Ciudad'] %></td>
										<td><%= recinto['Pais'] %></td>
									</tr>
								<% end %>						
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<% else %>
			<div class="col-md-12">
				<div class="alert alert-warning">
					<h3><b>¡Atención!</b>  Hay pasos previos que aún no se han realizado</h3>
					<% @volver_paso1 = true %>
					<a href="/nueva_competencia/paso1" class="btn btn-warning">Volver al inicio</a>
				</div>
			</div>
		<% end %>
	</div>
</div>

<script type="text/javascript">
	if (document.getElementById('alerta')){

	}
</script>