<style type="text/css">
	
	#tablas-resumen{
		height: 28em;
		overflow-y: auto;
		overflow-x: hidden;
	}

</style>

<div class="container">
	<div class="row">
		<div class="col-md-7">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3>Crear Competencia - Jueces - Paso 6</h3>
				</div>
				<div class="panel-body">
					<div class="alert alert-info" role="alert">
						<p>Consideraciones con respecto al archivo a cargar: </p>
						<ul>
							<li>Puede ser formato csv, Excel o Libre Oficce</li>
							<li>La primera fila del archivo debe contener las cabeceras <b>Nombre</b>, <b>Apellido Paterno</b>, <b>Apellido Materno</b>, <b>RUT</b>, <b>Sexo</b>, <b>Fecha nacimiento</b> y <b>Email</b>, tal cual están escritos</li>
							<li>Ningún campo puede estar vacío</li>
						</ul>
					</div>
					
					<% if @alert %>
						<div class="alert alert-danger" role="alert">
							<b>ERROR: </b><%= @alert %>
						</div>
					<% end %>

					<%= form_tag("/nueva_competencia/paso6", multipart: true) do %>
						<div class="field">
							<%= label_tag(:jueces, "Subir la plantilla con los Jueces de la Competencia") %> <br>
							<%= file_field_tag(:archivo, required: true) %>
						</div>

						<div class="field">
							<%= submit_tag("Siguiente") %>
						</div>

					<% end %>
				</div>
			</div>
		</div>
		<div class="col-md-5">
			<div id="tablas-resumen" role="tabpanel">
				
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#Datos" aria-controls="Datos" role="tab" data-toggle="tab">Datos</a></li>
					<li role="presentation"><a href="#participantes" aria-controls="participantes" role="tab" data-toggle="tab">Participantes</a></li>
					<li role="presentation"><a href="#jugadores" aria-controls="jugadores" role="tab" data-toggle="tab">Jugadores</a></li>
					<li role="presentation"><a href="#entrenadores" aria-controls="entrenadores" role="tab" data-toggle="tab">Entrenadores</a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane fade in active" id="Datos">
						<table class="table table-bordered table-hover">
							<tbody>
							<tr>
								<td><b>Nombre de la competencia:</b></td>
								<td><%= $nombre_competencia %></td>
							</tr>
							<tr>
								<td><b>Tipo de competencia:</b></td>
								<td><%= $tipo_competencia.swapcase %></td>
							</tr>
							<tr>
								<td><b>¿Ida y vuelta?</b></td>
								<td><%= $ida_vuelta.swapcase %></td>
							</tr>
							<tr>
								<td><b>Cantidad de participantes:</b></td>
								<td><%= $cant_participantes %></td>
							</tr>
							<% if $tipo_competencia == "copa" %>
								<tr>
									<td><b>Cantidad de grupos:</b></td>
									<td><%= $cant_grupos %></td>
								</tr>
							<% end %>
							<tr>
								<td><b>Fecha de inicio:</b></td>
								<td><%= $fecha_inicio%></td>
							</tr>
							<tr>
								<td><b>Fecha de fin:</b></td>
								<td><%= $fecha_fin%></td>
							</tr>
							<tr>
								<td><b>Privacidad:</b></td>
								<td><%= $privacidad.swapcase %></td>
							</tr>
							<tr>
								<td><b>Árbitros por encuentro:</b></td>
								<td><%=  $cant_arbitros %></td>
							</tr>
							<tr>
								<td><b>Jugadores por plantel:</b></td>
								<td><%= $cant_jugadores %></td>
							</tr>
							<tr>
								<td><b>Jugadores titulares:</b></td>
								<td><%= $cant_titulares %></td>
							</tr>
							<tr>
								<td><b>Jugadores en banca:</b></td>
								<td><%= $cant_banca %></td>
							</tr>
						</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="participantes">
						<table class="table table-bordered table-hover">
							<thead>
								<tr>
									<th>Nombre</th>
									<th>País</th>
								</tr>
							</thead>
							<tbody>
								<% $participantes.each do |participante| %>
									<tr>
										<td><%= participante['Nombre'] %></td>
										<td><%= participante['Pais'] %></td>
									</tr>
								<% end %>						
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="jugadores">
						<table class="table table-bordered table-hover">
							<thead>
								<tr>
									<th>Nombre</th>
									<th>Apellido</th>
									<th>Institución</th>
								</tr>
							</thead>
							<tbody>
								<% $jugadores.each do |jugador| %>
									<tr>
										<td><%= jugador['Nombre'] %></td>
										<td><%= jugador['Apellido Paterno'] %></td>
										<td><%= jugador['Institucion Deportiva'] %></td>
									</tr>
								<% end %>						
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="entrenadores">
						<table class="table table-bordered table-hover">
							<thead>
								<tr>
									<th>Nombre</th>
									<th>Apellido</th>
									<th>Institución</th>
								</tr>
							</thead>
							<tbody>
								<% $entrenadores.each do |entrenador| %>
									<tr>
										<td><%= entrenador['Nombre'] %></td>
										<td><%= entrenador['Apellido Paterno'] %></td>
										<td><%= entrenador['Institucion Deportiva'] %></td>
									</tr>
								<% end %>						
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
