<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre jug:</strong>
  <%= @jugador.nombre_jug %>
</p>

<p>
  <strong>Apellido pat jug:</strong>
  <%= @jugador.apellido_pat_jug %>
</p>

<p>
  <strong>Apellido mat jug:</strong>
  <%= @jugador.apellido_mat_jug %>
</p>

<p>
  <strong>Rut jug:</strong>
  <%= @jugador.rut_jug %>
</p>

<p>
  <strong>Sexo jug:</strong>
  <%= @jugador.sexo_jug %>
</p>

<p>
  <strong>Fecha nac jug:</strong>
  <%= @jugador.fecha_nac_jug %>
</p>

<p>
  <strong>Email jug:</strong>
  <%= @jugador.email_jug %>
</p>

<p>
  <strong>Foto jug:</strong>
  <%= @jugador.foto_jug %>
</p>

<%= link_to 'Edit', edit_jugador_path(@jugador) %> |
<%= link_to 'Back', jugadors_path %>
