<%= form_for(@recinto) do |f| %>
  <% if @recinto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recinto.errors.count, "error") %> prohibited this recinto from being saved:</h2>

      <ul>
      <% @recinto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre_rec %><br>
    <%= f.text_field :nombre_rec %>
  </div>
  <div class="field">
    <%= f.label :ciudad_rec %><br>
    <%= f.text_field :ciudad_rec %>
  </div>
  <div class="field">
    <%= f.label :pais_rec %><br>
    <%= f.text_field :pais_rec %>
  </div>
  <div class="field">
    <%= f.label :capacidad_rec %><br>
    <%= f.number_field :capacidad_rec %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
