<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre rec:</strong>
  <%= @recinto.nombre_rec %>
</p>

<p>
  <strong>Ciudad rec:</strong>
  <%= @recinto.ciudad_rec %>
</p>

<p>
  <strong>Pais rec:</strong>
  <%= @recinto.pais_rec %>
</p>

<p>
  <strong>Capacidad rec:</strong>
  <%= @recinto.capacidad_rec %>
</p>

<%= link_to 'Edit', edit_recinto_path(@recinto) %> |
<%= link_to 'Back', recintos_path %>
