<%= form_for(@participante_competencium) do |f| %>
  <% if @participante_competencium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@participante_competencium.errors.count, "error") %> prohibited this participante_competencium from being saved:</h2>

      <ul>
      <% @participante_competencium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :competencia_id %><br>
    <%= f.text_field :competencia_id %>
  </div>
  <div class="field">
    <%= f.label :participante_id %><br>
    <%= f.text_field :participante_id %>
  </div>
  <div class="field">
    <%= f.label :enc_ganados_par_com %><br>
    <%= f.number_field :enc_ganados_par_com %>
  </div>
  <div class="field">
    <%= f.label :enc_perdidos_par_com %><br>
    <%= f.number_field :enc_perdidos_par_com %>
  </div>
  <div class="field">
    <%= f.label :enc_perdidos_par_com %><br>
    <%= f.number_field :enc_perdidos_par_com %>
  </div>
  <div class="field">
    <%= f.label :goles_favor_par_com %><br>
    <%= f.number_field :goles_favor_par_com %>
  </div>
  <div class="field">
    <%= f.label :goles_contra_par_com %><br>
    <%= f.number_field :goles_contra_par_com %>
  </div>
  <div class="field">
    <%= f.label :cant_tarjetas_amar_par_com %><br>
    <%= f.number_field :cant_tarjetas_amar_par_com %>
  </div>
  <div class="field">
    <%= f.label :cant_tarjetas_roja_par_com %><br>
    <%= f.number_field :cant_tarjetas_roja_par_com %>
  </div>
  <div class="field">
    <%= f.label :cant_puntos_par_com %><br>
    <%= f.number_field :cant_puntos_par_com %>
  </div>
  <div class="field">
    <%= f.label :cant_enc_jugados_par_com %><br>
    <%= f.number_field :cant_enc_jugados_par_com %>
  </div>
  <div class="field">
    <%= f.label :grupo_par_com %><br>
    <%= f.number_field :grupo_par_com %>
  </div>
  <div class="field">
    <%= f.label :total_enc_grupo_par_com %><br>
    <%= f.number_field :total_enc_grupo_par_com %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
