<h1>Listing participante_competencia</h1>

<table>
  <thead>
    <tr>
      <th>Competencia</th>
      <th>Participante</th>
      <th>Enc ganados par com</th>
      <th>Enc perdidos par com</th>
      <th>Enc perdidos par com</th>
      <th>Goles favor par com</th>
      <th>Goles contra par com</th>
      <th>Cant tarjetas amar par com</th>
      <th>Cant tarjetas roja par com</th>
      <th>Cant puntos par com</th>
      <th>Cant enc jugados par com</th>
      <th>Grupo par com</th>
      <th>Total enc grupo par com</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @participante_competencia.each do |participante_competencium| %>
      <tr>
        <td><%= participante_competencium.competencia %></td>
        <td><%= participante_competencium.participante %></td>
        <td><%= participante_competencium.enc_ganados_par_com %></td>
        <td><%= participante_competencium.enc_perdidos_par_com %></td>
        <td><%= participante_competencium.enc_perdidos_par_com %></td>
        <td><%= participante_competencium.goles_favor_par_com %></td>
        <td><%= participante_competencium.goles_contra_par_com %></td>
        <td><%= participante_competencium.cant_tarjetas_amar_par_com %></td>
        <td><%= participante_competencium.cant_tarjetas_roja_par_com %></td>
        <td><%= participante_competencium.cant_puntos_par_com %></td>
        <td><%= participante_competencium.cant_enc_jugados_par_com %></td>
        <td><%= participante_competencium.grupo_par_com %></td>
        <td><%= participante_competencium.total_enc_grupo_par_com %></td>
        <td><%= link_to 'Show', participante_competencium %></td>
        <td><%= link_to 'Edit', edit_participante_competencium_path(participante_competencium) %></td>
        <td><%= link_to 'Destroy', participante_competencium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Participante competencium', new_participante_competencium_path %>
