<p id="notice"><%= notice %></p>

<p>
  <strong>Competencia:</strong>
  <%= @participante_competencium.competencia %>
</p>

<p>
  <strong>Participante:</strong>
  <%= @participante_competencium.participante %>
</p>

<p>
  <strong>Enc ganados par com:</strong>
  <%= @participante_competencium.enc_ganados_par_com %>
</p>

<p>
  <strong>Enc perdidos par com:</strong>
  <%= @participante_competencium.enc_perdidos_par_com %>
</p>

<p>
  <strong>Enc perdidos par com:</strong>
  <%= @participante_competencium.enc_perdidos_par_com %>
</p>

<p>
  <strong>Goles favor par com:</strong>
  <%= @participante_competencium.goles_favor_par_com %>
</p>

<p>
  <strong>Goles contra par com:</strong>
  <%= @participante_competencium.goles_contra_par_com %>
</p>

<p>
  <strong>Cant tarjetas amar par com:</strong>
  <%= @participante_competencium.cant_tarjetas_amar_par_com %>
</p>

<p>
  <strong>Cant tarjetas roja par com:</strong>
  <%= @participante_competencium.cant_tarjetas_roja_par_com %>
</p>

<p>
  <strong>Cant puntos par com:</strong>
  <%= @participante_competencium.cant_puntos_par_com %>
</p>

<p>
  <strong>Cant enc jugados par com:</strong>
  <%= @participante_competencium.cant_enc_jugados_par_com %>
</p>

<p>
  <strong>Grupo par com:</strong>
  <%= @participante_competencium.grupo_par_com %>
</p>

<p>
  <strong>Total enc grupo par com:</strong>
  <%= @participante_competencium.total_enc_grupo_par_com %>
</p>

<%= link_to 'Edit', edit_participante_competencium_path(@participante_competencium) %> |
<%= link_to 'Back', participante_competencia_path %>
