<h1>Listing rol_jueces</h1>

<table>
  <thead>
    <tr>
      <th>Tipo rol juez</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rol_jueces.each do |rol_juece| %>
      <tr>
        <td><%= rol_juece.tipo_rol_juez %></td>
        <td><%= link_to 'Show', rol_juece %></td>
        <td><%= link_to 'Edit', edit_rol_juece_path(rol_juece) %></td>
        <td><%= link_to 'Destroy', rol_juece, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rol juece', new_rol_juece_path %>
