<h1>Listing tecnicos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre tec</th>
      <th>Apellido pat tec</th>
      <th>Apellido mat tec</th>
      <th>Rut tec</th>
      <th>Sexo tec</th>
      <th>Fecha nac tec</th>
      <th>Email tec</th>
      <th>Foto tec</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tecnicos.each do |tecnico| %>
      <tr>
        <td><%= tecnico.nombre_tec %></td>
        <td><%= tecnico.apellido_pat_tec %></td>
        <td><%= tecnico.apellido_mat_tec %></td>
        <td><%= tecnico.rut_tec %></td>
        <td><%= tecnico.sexo_tec %></td>
        <td><%= tecnico.fecha_nac_tec %></td>
        <td><%= tecnico.email_tec %></td>
        <td><%= tecnico.foto_tec %></td>
        <td><%= link_to 'Show', tecnico %></td>
        <td><%= link_to 'Edit', edit_tecnico_path(tecnico) %></td>
        <td><%= link_to 'Destroy', tecnico, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tecnico', new_tecnico_path %>
