<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre tec:</strong>
  <%= @tecnico.nombre_tec %>
</p>

<p>
  <strong>Apellido pat tec:</strong>
  <%= @tecnico.apellido_pat_tec %>
</p>

<p>
  <strong>Apellido mat tec:</strong>
  <%= @tecnico.apellido_mat_tec %>
</p>

<p>
  <strong>Rut tec:</strong>
  <%= @tecnico.rut_tec %>
</p>

<p>
  <strong>Sexo tec:</strong>
  <%= @tecnico.sexo_tec %>
</p>

<p>
  <strong>Fecha nac tec:</strong>
  <%= @tecnico.fecha_nac_tec %>
</p>

<p>
  <strong>Email tec:</strong>
  <%= @tecnico.email_tec %>
</p>

<p>
  <strong>Foto tec:</strong>
  <%= @tecnico.foto_tec %>
</p>

<%= link_to 'Edit', edit_tecnico_path(@tecnico) %> |
<%= link_to 'Back', tecnicos_path %>
