<h1>Listing encuentros</h1>

<table>
  <thead>
    <tr>
      <th>Fecha enc</th>
      <th>Tiro libre local enc</th>
      <th>Tiro esquina local enc</th>
      <th>Fuera de juego local enc</th>
      <th>Tiro libre visita enc</th>
      <th>Tiro esquina visita enc</th>
      <th>Fuera de juego visita enc</th>
      <th>Duracion enc</th>
      <th>Cant publico enc</th>
      <th>Gol local enc</th>
      <th>Gol visita enc</th>
      <th>Def penales enc</th>
      <th>Estado enc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @encuentros.each do |encuentro| %>
      <tr>
        <td><%= encuentro.fecha_enc %></td>
        <td><%= encuentro.tiro_libre_local_enc %></td>
        <td><%= encuentro.tiro_esquina_local_enc %></td>
        <td><%= encuentro.fuera_de_juego_local_enc %></td>
        <td><%= encuentro.tiro_libre_visita_enc %></td>
        <td><%= encuentro.tiro_esquina_visita_enc %></td>
        <td><%= encuentro.fuera_de_juego_visita_enc %></td>
        <td><%= encuentro.duracion_enc %></td>
        <td><%= encuentro.cant_publico_enc %></td>
        <td><%= encuentro.gol_local_enc %></td>
        <td><%= encuentro.gol_visita_enc %></td>
        <td><%= encuentro.def_penales_enc %></td>
        <td><%= encuentro.estado_enc %></td>
        <td><%= link_to 'Show', encuentro %></td>
        <td><%= link_to 'Edit', edit_encuentro_path(encuentro) %></td>
        <td><%= link_to 'Destroy', encuentro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Encuentro', new_encuentro_path %>
