<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha enc:</strong>
  <%= @encuentro.fecha_enc %>
</p>

<p>
  <strong>Tiro libre local enc:</strong>
  <%= @encuentro.tiro_libre_local_enc %>
</p>

<p>
  <strong>Tiro esquina local enc:</strong>
  <%= @encuentro.tiro_esquina_local_enc %>
</p>

<p>
  <strong>Fuera de juego local enc:</strong>
  <%= @encuentro.fuera_de_juego_local_enc %>
</p>

<p>
  <strong>Tiro libre visita enc:</strong>
  <%= @encuentro.tiro_libre_visita_enc %>
</p>

<p>
  <strong>Tiro esquina visita enc:</strong>
  <%= @encuentro.tiro_esquina_visita_enc %>
</p>

<p>
  <strong>Fuera de juego visita enc:</strong>
  <%= @encuentro.fuera_de_juego_visita_enc %>
</p>

<p>
  <strong>Duracion enc:</strong>
  <%= @encuentro.duracion_enc %>
</p>

<p>
  <strong>Cant publico enc:</strong>
  <%= @encuentro.cant_publico_enc %>
</p>

<p>
  <strong>Gol local enc:</strong>
  <%= @encuentro.gol_local_enc %>
</p>

<p>
  <strong>Gol visita enc:</strong>
  <%= @encuentro.gol_visita_enc %>
</p>

<p>
  <strong>Def penales enc:</strong>
  <%= @encuentro.def_penales_enc %>
</p>

<p>
  <strong>Estado enc:</strong>
  <%= @encuentro.estado_enc %>
</p>

<%= link_to 'Edit', edit_encuentro_path(@encuentro) %> |
<%= link_to 'Back', encuentros_path %>
